Repository hydrocode-de/RUINSapp, pull requests merged in 2022-07, with the labels that each got.

#93 Sunburst plot for climate models
  dev/blubbles.ipynb
  ruins/apps/sunburst.py
  ruins/processing/sunburst.py
Labels: climate explorer

#90 Climate indices processor and plotly plot
  dev/climate_index.ipynb
  ruins/apps/weather.py
  ruins/components/data_select.py
  ruins/plotting/__init__.py
  ruins/plotting/climate_indices.py
  ruins/processing/__init__.py
  ruins/processing/climate_indices.py
Labels: climate explorer, priority: low

#97 Fix kde warning
  ruins/components/data_select.py
  ruins/plotting/kde.py
Labels: bug, weather explorer

#98 First windpower story steps
  dev/windpower.ipynb
  ruins/apps/landuse.py
  ruins/core/config.py
  ruins/plotting/__init__.py
  ruins/plotting/climate_data.py
  ruins/plotting/windpower.py
  ruins/processing/windpower.py
Labels: landuse explorer

#104 Added uncertainty analysis for windpower example
  dev/windpower.ipynb
  docs/source/reference/index.rst
  docs/source/reference/processing/processing.rst
  docs/source/reference/processing/windpower.rst
  requirements.txt
  ruins/apps/landuse.py
  ruins/plotting/__init__.py
  ruins/plotting/windpower.py
  ruins/processing/windpower.py
Labels: landuse explorer
